.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  text-align: center;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background-color: rgba(225, 107, 49, 1);
  border: 1px solid var(--accent-primary);
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 1px 20px 0 rgba(225, 108, 49, 0.1);
  transition: box-shadow 0.2s ease;
  padding-inline: 20px;
}

.btn:hover {
  text-decoration: none;
  box-shadow: 1px 1px 30px 0 rgba(225, 108, 49, 0.1);
}

.btn:active {
  background-color: rgba(225, 107, 49, 0.8);
}

.btn.loading:hover {
  color: var(--content-inverse);
  background-color: var(--accent-primary);
  cursor: default;
}

.btn:disabled {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary);
  color: var(--content-dimmed-dark);
  box-shadow: unset;
  pointer-events: none;
}

.secondary {
  border: none;
  background: var(--accent-dimmed);
  color: var(--accent-primary);
  box-shadow: none;
}

.secondary:hover {
  background-color: rgba(225, 108, 49, 0.1);
  box-shadow: none;
}

.secondary:active {
  background-color: rgba(225, 108, 49, 0.3);
}

.outlined {
  border: 1px solid rgb(225, 107, 49);
  background: transparent;
  color: #e16b31;
  box-shadow: none;
  transition: opacity 0.2s;
}

.outlined:hover {
  box-shadow: none;
  opacity: 0.8;
}

.fullWidth {
  width: 100%;
}
