.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  text-align: center;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
  background-color: #00F48D;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 1px 1px 20px 0 rgba(0, 244, 141, 0.1);
  transition: box-shadow 0.2s ease;
  padding-inline: 20px;
  
}
.btn:hover {
  text-decoration: none;
  box-shadow: 1px 1px 20px 0 rgba(16, 245, 153, 0.9);
}

.btn:active {
  background-color: rgba(0, 244, 141, 0.4);
}

.btn.loading:hover {
  color: black;
  background-color: #00F48D;
  cursor: default;
}

.btn:disabled {
  background-color: #00F48D;
  border-color: #00F48D;
  color: var(--content-dimmed-dark);
  box-shadow: unset;
  pointer-events: none;
}

.secondary {
  border: none;
  background: var(--accent-dimmed);
  color: #00F48D;
  box-shadow: none;
}

.secondary:hover {
  background-color: rgba(0, 244, 141, 0.1);
  box-shadow: none;
}

.secondary:active {
  background-color: rgba(0, 244, 141, 0.3);
}

.outlined {
  border: 1px solid #00F48D;
  background: transparent;
  color: rgb(0, 244, 141);
  box-shadow: none;
  transition: opacity 0.2s;
}

.outlined:hover {
  box-shadow: none;
  background-color: rgba(0, 244, 141, 0.1);
}

.outlinedWhite:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.fullWidth {
  width: 100%;
}

.highlight {
  background-color: rgb(195, 242, 222);
  color: black;
  box-shadow: none;
  transition: opacity 0.2s;
  border: none;
  font-weight: 400;
}

.highlight:hover {
  background-color: rgba(195, 242, 222, 0.8);
}

.green {
  width: 100%;
  background-image: linear-gradient(to right, #08f48d 0%, #38f9d7 100%);
font-weight: 600;
  border-radius: 12px;
  color: black;
}

.green:active {
  background-color: rgba(0, 244, 141, 0.8);
  color: black;
}

.green:disabled {
  opacity: 0.8;
  color: black;
}

.outlinedWhite {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  box-shadow: none;
  transition: opacity 0.2s;
}

.outlinedWhite:hover {
  box-shadow: none;
  background-color: rgba(255,255,255,0.1);
}