.mobilePoolItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 28px;
  border-bottom: 2px solid rgba(225, 108, 49, 0.1);
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoBlocks {
  display: flex;
  justify-content: space-between;
}

.poolDescription {
  font-size: 12px;
  line-height: 14px;
  color: #00EA82;
}

button.addButton {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 0;
}
